.footer {
  background-color: #483d3c;
  color: white;
  padding: 10px 20px;
  text-align: center;

  .contact-us {
    margin-bottom: 10px;

    p {
      margin: 0;
      white-space: nowrap; /* Prevent breaking */
    }

    .contact-info {
      display: inline;
    }
  }

  .rights-reserved {
    font-size: 0.8em;
  }
}

@media (max-width: 768px) {
  .contact-us {
    p {
      display: flex;
      flex-direction: column;
      align-items: center;
      white-space: normal; /* Allow breaking on small screens */
    }

    .contact-info {
      display: block;
    }
  }
}